<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244282849889-9l0ccc2v6816au6e6ipqbasriqpa2vbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244282849889-9l0ccc2v6816au6e6ipqbasriqpa2vbo</string>
	<key>API_KEY</key>
	<string>AIzaSyBa2vSiSwltzqFapxeObzu8nyj3xK3iWDo</string>
	<key>GCM_SENDER_ID</key>
	<string>244282849889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shino.-1unkoApp</string>
	<key>PROJECT_ID</key>
	<string>swiftui-unkoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-unkoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244282849889:ios:7660f6e556b83da4ed8820</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-unkoapp.firebaseio.com</string>
</dict>
</plist>